.theme-illustration {
  display: block;
}

.theme-illustration > img {
  display: block;
  height: auto;
  margin-inline: auto;
  max-width: 100%;
}

.theme-illustration .theme-illustration--dark {
  display: none;
}

[data-md-color-scheme="slate"] .theme-illustration .theme-illustration--light {
  display: none;
}

[data-md-color-scheme="slate"] .theme-illustration .theme-illustration--dark {
  display: block;
}

.theme-invert-on-dark {
  display: block;
  height: auto;
  margin-inline: auto;
  max-width: 100%;
}

[data-md-color-scheme="slate"] .theme-invert-on-dark {
  filter: invert(1) hue-rotate(180deg);
}
